{% extends "_layouts/default.njk" %}

{% block body %}
  <div class="content">
    {% include "_partials/flash.njk" %}
    <strong>Olá, {{ user.name }}</strong>
    <p>Inicie um agendamento escolhendo um profissional abaixo:</p>
    <ul class="providers">
      {% for provider in providers %}
        <li class="provider">
          <div>
            <img src="/files/{{ provider.avatar }}"/>
            <strong>{{ provider.name }}</strong>
          </div>
          <a href="/app/appointments/new/{{ provider.id }}">Agendar</a>
        </li>
      {% endfor %}
    </ul>
    <strong>Seus Agendamentos para Hoje - {{ date }}</strong>
    <ul class="providers">
      {% for appointment in appointments %}
        <li class="provider">
          <div>
            <img src="/files/{{ appointment.provider.avatar }}"/>
            <strong>{{ appointment.provider.name }}</strong>
          </div>
          <strong>
            {{ appointment.hour }}
          </strong>
        </li>
      {% endfor %}
    </ul>
    <a href="/app/logout" class="logout">Sair</a>
  </div>
{% endblock %}
