root = true # regras valem para todos as pastas

[*] # regras valem para todo tipo de arquivo
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
