<h1>Bem Vindo!</h1>
<p>Insira a sua idade no campo abaixo:</p>
<form method="POST" action="/check">
  <input type="number" step="1" min="0" name="age" />
  <button type="submit">Enviar</button>
</form>
